<div class="flights-container">
  <app-search-header
    [title]="header.title"
    [choices]="header.choices"
    [tabs]="header.tabs"
    [tripTypeOptions]="header.tripTypeOptions"
    [classOptions]="header.classOptions"
    (stateChange)="onHeaderStateChange($event)">
  </app-search-header>

  <div class="flights-box">
    <app-shared-input-row
      #inputsRow
      [inputs]="inputsOrder"
      [values]="valuesMap"
      [widths]="inputWidths"
      buttonText="חיפוש"
      (inputPicked)="onInputPicked($event)"
      (searchClicked)="onSearch()">
    </app-shared-input-row>
  </div>
  
  <app-search-footer
    [infoItems]="footer.infoItems"
    [options]="footer.options"
    (optionChange)="onFooterOptionChange($event)">
  </app-search-footer>
</div>
