.search-header {
    margin-bottom: 15px;
      display: flex;
    justify-content: space-between;
    align-items: center;
max-width: 1175px;
  .title {
    font-size: 20px;
    font-weight: 700;
    color: #333;
  }

    .dropdowns-section{
    display: flex;
    
  }

  .header-row {

    display: flex;
    flex-direction: row-reverse;
        gap: 20px;
    .choices-section {
      display: flex;
      align-items: center;
    }
  }

  .tabs-dropdown-container{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .tabs-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dropdowns-section {
      display: flex;
      gap: 12px;

      &.no-tabs {
        margin-right: auto;
      }
    }
  }
}
