<div class="search-header">
  <h1 class="title">{{ title }}</h1>

  <div class="header-content">
    <div class="header-row">
      <div class="choices-section">
        <app-header-choices
          *ngIf="choices.length"
          [choices]="choices"
          [selectedValue]="selectedChoice"
          (choiceSelected)="onChoiceSelected($event)">
        </app-header-choices>
      </div>

      <div class="dropdowns-section">
        <app-header-dropdown
          *ngIf="tripTypeOptions.length"
          [options]="tripTypeOptions"
          [selectedValue]="selectedTripType"
          (optionSelected)="onTripTypeSelected($event)">
        </app-header-dropdown>
  
        <app-header-dropdown
          *ngIf="classOptions.length"
          [options]="classOptions"
          [selectedValue]="selectedClass"
          (optionSelected)="onClassSelected($event)">
        </app-header-dropdown>
      </div>
    </div>
  </div>
</div>
