.passenger-input {
  position: relative;
  width: 100%;
  font-family: inherit;


  .dropdown {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px 14px 11px 33px;
    z-index: 9999;

    h4.title {
      font-size: 1rem;
      font-weight: 700;
      color: #2c2c2c;
      margin: 0 0 10px;
    }

    .age-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .age-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 0;
          min-width: 236px;
        flex-direction: row-reverse;

      .buttons {
        display: flex;
        align-items: center;
        gap: 6px;

        button {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          border: none;
          background: #00a651;
          color: white;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.2s;

          &:disabled {
            background: #ccc;
            cursor: not-allowed;
          }

          &:hover:not(:disabled) {
            background: #009247;
          }
        }

        .count {
          font-weight: 600;
          font-size: 1rem;
          min-width: 20px;
          text-align: center;
        }
      }

      .label {
        font-size: 0.95rem;
        font-weight: 500;
        color: #333;

        .range {
          color: #888;
          font-size: 0.85rem;
          margin-left: 4px;
        }
      }
    }

    .confirm {
      width: 100%;
      margin-top: 14px;
      background: #00a651;
      color: white;
      border: none;
      border-radius: 8px;
      padding: 10px 0;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      transition: background 0.2s ease;

      &:hover {
        background: #009247;
      }
    }
  }
}
