.search-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
    max-width: 1168px;
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .right {
    flex-shrink: 0;
  }

  .popular-links {
    display: flex;
    gap: 16px;
    margin-top: 6px;
    flex-wrap: wrap;
    align-items: center;

    .popular-link {
      color: #098137;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      transition: color 0.2s ease;
      cursor: pointer;

      &:hover {
        color: #008a42;
        text-decoration: underline;
      }
    }
  }
}
