<div class="search-engine">
  <div class="tabs" *ngIf="options?.showTabs">
    <a
      *ngFor="let tab of options?.tabs"
      class="tab"
      [href]="tab.url || null"
      [target]="tab.url ? '_blank' : null"
      (click)="onTabClick(tab, $event)"
      [class.active]="tab === activeTab"
    >
      <img *ngIf="tab.imagePath" [src]="tab.imagePath" [alt]="tab.title" />
      <i *ngIf="!tab.imagePath && tab.icon" [class]="tab.icon"></i>
      <span>{{ tab.title }}</span>
    </a>
  </div>

 <div class="tab-content" [class.animating]="isAnimating">
    <app-flights
      *ngIf="getActiveType() === ETypeSearchEngine.FLIGHTS"
    ></app-flights>

    <app-hotel-abroad
      *ngIf="getActiveType() === ETypeSearchEngine.HOTELS_ABROAD"
    ></app-hotel-abroad>

    <app-domestic-vacation
      *ngIf="getActiveType() === ETypeSearchEngine.DOMESTIC_VACATIONS"
    ></app-domestic-vacation>

    <app-sport
      *ngIf="getActiveType() === ETypeSearchEngine.SPORT"
    ></app-sport>
  </div>
</div>
