
:host {
  display: block;          /* שלא יהיה inline עם רוחב 0 */
  width: 100%;
  position: relative;      /* בסיס טוב למיקום מוחלט פנימי אם צריך */
}

.dropdown-wrapper {
  position: absolute;
  top: calc(100% + 6px);
  right: 0px;
  background: #fff;
  border: 1px solid var(--search-engine-border-menu);
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  z-index: 9999;
  transform-origin: top center;
  overflow: hidden;

  /* במקום width: 100% */
  width: auto;
  min-width: 100%; /* כדי לא להיות קטן מדי אם התוכן קטן */
  
  &.position-bottom-left {
    left: 0px;
  }
  
  &.position-bottom-center {

    right: -100%;
    transform: translateX(-50%);
  }
  
  &.position-bottom-right {
    right: -125%;

  }
}

.dropdown-wrapper.scrollable {
  max-height: 300px;
  overflow-y: auto;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #BFCACD transparent;
}

/* Chrome, Edge, Safari */
dropdown-wrapper.scrollable::-webkit-scrollbar {
  width: 6px; /* עובי */
}

dropdown-wrapper.scrollable::-webkit-scrollbar-track {
  background: transparent; 
}

dropdown-wrapper.scrollable::-webkit-scrollbar-thumb {
  background-color: #BFCACD;
  border-radius: 10px;
}

/* הסרת החצים */
dropdown-wrapper.scrollable::-webkit-scrollbar-button {
  display: none;
}



