.calendar-input-wrapper {
  position: relative;
  width: 100%;
}

.calendar-dropdown {
  width: 670px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.14);
  padding: 16px 11px;

  /* אם scrollable=true */
  max-height: 387px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 16px;
  direction: rtl;
}

.calendar-pill {
  flex: 1;
  background: #e2f7e8;
  border-radius: 20px;
  padding: 10px 14px;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 1.3;

  .label {
    font-weight: 700;
    font-size: 22px;
  }

  .date {
    font-size: 22px;
  }
}

.calendar-body {
  display: flex;
  gap: 20px;
}

.month-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;

  .month-name {
    font-weight: 600;
    min-width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .month {
      font-weight: 700;
    }

    .year {
      font-weight: 400;
    }
  }

  .nav-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.7;
  }

  &.return .nav-btn {
    position: relative;
    right: 95%;
  }
}

.calendar-month{
  width: 50%;
}

.weekday-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 13px;
  opacity: 0.6;
  margin-bottom: 6px;
  text-align: center;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  .day {
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    font-weight: 300;
    transition: all 0.2s ease;
    margin-bottom: 5px;

    &.other-month {
      opacity: 0.3;
    }

    &.selected {
      background: #e2f7e8;

      span:first-child {
        background: #2aae54;
        color: white;
        height: 33px;
        width: 38px;
        position: absolute;
        display: flex;
        border-radius: 23px;
        right: 6px;
        bottom: 2px;
        align-items: center;
        justify-content: center;
      }
    }

    &.range {
      background: #e2f7e8;
    }

    &:hover {
      background: #e2f7e8;
    }

    .suggest-badge {
      font-size: 10px;
      color: #39c16c;
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
