<div class="calendar-input">

  <!-- Input date -->
  <input
    type="date"
    [min]="config.minDate | date:'yyyy-MM-dd'"
    [max]="config.maxDate | date:'yyyy-MM-dd'"
    (change)="onDatePick($event)"
  />

  <!-- שעות -->
  <div *ngIf="config.allowPickHours" class="hour-picker">
    <input type="time" (change)="onHourPick($event)">
  </div>

  <!-- Suggested Dates -->
  <div class="suggested-container" *ngIf="config.suggestedDates?.length">
    <h4>תאריכים מוצעים</h4>

    <div class="suggested-list">
      <button
        *ngFor="let s of config.suggestedDates"
        class="suggested-item"
        (click)="selectedDate = s.date; emitValue()"
      >
        <div>{{ s.date | date:'dd/MM/yyyy' }}</div>
        <div>{{ s.price }} {{ s.currency }}</div>
      </button>
    </div>
  </div>

</div>
