.calendar-input-wrapper {
  position: relative;
  width: 100%;
}

.calendar-input-display {
  border: 1px solid #9ce4b7;
  background: #e9f9ef;
  padding: 12px 14px;
  border-radius: 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .label {
    font-size: 12px;
    opacity: 0.7;
  }

  .value {
    font-size: 15px;
    font-weight: 600;
  }

  i {
    font-size: 18px;
    opacity: 0.6;
  }
}

.dropdown-panel {
  position: absolute;
  top: calc(100% + 6px);
  left: 0%;
  width: 670px;
  background: #fff;
  border: 1px solid var(--search-engine-border-menu);
  border-radius: 20px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.14);
  padding: 16px 11px;
  max-height: 387px;
  overflow-y: auto;
  z-index: 9999;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 16px;
  direction: rtl;
}

.calendar-pill {
 flex: 1;
    background: #e2f7e8;
    border-radius: 20px;
    padding: 10px 14px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    line-height: 1.3;
}

.calendar-pill .label {
  font-weight: 700;
  font-size: 22px;
  color: #1b1b1b;
  
}

  .calendar-month .month-header.return .nav-btn{
    position: relative;
    width: 100%;
    right: 95%;
  }

.calendar-pill .date {
  font-size: 22px;
  color: #1b1b1b;
}


.calendar-body {
  display: flex;
  gap: 20px;
}

.calendar-month {
  width: 100%;
}

.dropdown-anim {
  display: block;
}
.dropdown-panel {
  overflow: hidden; 
  will-change: transform, opacity, height;
}

.month-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;

  .month-name {
    font-weight: 600;
    min-width: 95%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5px;

 .month {
    font-weight: 700; // מודגש
  }

  .year {
    font-weight: 400; // רגיל
  }
  }




  .nav-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.7;
  }
}

.weekday-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 13px;
  opacity: 0.6;
  margin-bottom: 6px;
  text-align: center;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0; // בלי רווחים

  .day {
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 0;
    position: relative;
    background: transparent; // ברירת מחדל — בלי צבע
    color: #1b1b1b;
    font-weight: 300;
    transition: all 0.2s ease;
    margin-bottom: 5px;
    min-height: 20px;
    &.other-month {
      opacity: 0.3;
    }

    /* רק התאריכים שנבחרו */
    &.selected {
        background: #e2f7e8;
      color: #1b1b1b;
 
      span{
       background: #2AAE54;
       color: white;
    height: 33px;
    width: 38px;
    position: absolute;
    display: flex;
    border-radius: 23px;
    right: 6px;
    bottom: 2px;
    align-items: center;
    justify-content: center;
      }

    }

    /* תאריכים שבטווח */
    &.range {
      background: #e2f7e8;
      color: #1b1b1b;
    }

    &:hover {
      background: #e2f7e8;
    }

    .suggest-badge {
      font-size: 10px;
      color: #39c16c;
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}




