.dropdown {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  background: #fff;

  border: 1px solid var(--search-engine-border-menu);
  border-radius: 20px;

  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.14);

  padding: 16px 11px;
  max-height: 260px;
  overflow-y: auto;

  z-index: 9999;

  /* הסתרת scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
