<div class="car-location-input" [class.open]="isOpen" [class.disabled]="isDisabled" #anchor>
  <app-input-box
    [icon]="config.uiConfig.icon ?? ''"
    [title]="config.uiConfig.title"
    [placeholder]="config.uiConfig.placeholder ?? ''"
    [isOpen]="isOpen && !isDisabled"
    [(model)]="displayValue"
    [width]="width"
    [allowAutoComplete]="false"
    (opened)="onInputOpened()"
    (closed)="isOpen = false"
  ></app-input-box>

  <app-shared-dropdown
    [isOpen]="isOpen"
    (closed)="isOpen = false"
    [anchor]="anchor"
    [scrollable]="false"
    [position]="position"
  >
    <div class="dropdown-container">
      <div class="cities-wrapper">
        <!-- עיר איסוף -->
        <div class="city-input-wrapper">
          <label class="input-label">עיר איסוף הרכב</label>

          <app-shared-options-input
            [type]="type"
            [value]="pickupCity"
            [isDisabled]="isDisabled"
            [position]="centerPosition"
            title="בחירת יעד איסוף"
            size="small"
            width="100%"
            (optionPicked)="onPickupCityPicked($event)"
            (opened)="onPickupDropdownOpened()"
            (closed)="onPickupDropdownClosed()"
          ></app-shared-options-input>
        </div>

        <!-- עיר החזרה -->
        <div class="container-city-return" [class.hidden]="isPickupDropdownOpen">
        <div class="city-input-wrapper">
          <label class="input-label">עיר החזרת הרכב</label>
            <app-shared-options-input
              [type]="type"
              [value]="returnCity"
              [isDisabled]="isDisabled"
              [position]="centerPosition"
              title="בחירת יעד החזרה"
              size="small"
              width="100%"
              (optionPicked)="onReturnCityPicked($event)"
            ></app-shared-options-input>

          </div>
        </div>
      </div>
      <div class="footer-container">
        <div class="note">
          <span>
בחירת תחנת איסוף והחזרה ביעד תתבצע בהמשך התהליך
          </span>
        </div>
      </div>
      <div class="footer-button">
        <button 
          class="btn-continue"
          [disabled]="!pickupCity || !returnCity"
          (click)="onContinue()"
        >
          המשך
        </button>
      </div>
      <!-- Continue button -->
    </div>
  </app-shared-dropdown>
</div>
