::ng-deep  .city-input-wrapper .input-box {
     border: 1px solid rgb(0,0,0,0.12) !important;
  padding: 6px !important;
}
.car-location-input {
  position: relative;
  width: 100%;


  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  .dropdown-container {
      padding: 13px 8px 12px 21px;
    overflow: visible; 
  }


  .cities-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .container-city-return {
    &.hidden {
      visibility: hidden;
      pointer-events: none;
    }
  }

  .city-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    z-index: 1; // מבטיח שה-dropdown הפנימי יהיה גבוה יותר
  

    .input-label {
      font-family: Rubik;
      font-weight: 700;
      font-size: 18px;
      
      color: #333;
      text-align: right;
    }

  }

  .footer-container{
    padding: 0px 4px 0px 0px;

    span{
      color: #687482;
      font-family: Rubik;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
text-align: right;

    }
  }

  .footer-button {
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;

    .btn-continue {
      width: 30%;
      padding: 0.75rem 1.5rem;
      background: #2AAE54;
      color: white;
      border: none;
      border-radius: 16px;
      font-family: Rubik;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.2s ease;

      &:hover:not(:disabled) {
        background: #248F46;
      }

      &:disabled {
        background: #ccc;
        cursor: not-allowed;
      }
    }
  }
}