<div class="shared-input" [class.open]="isOpen" #anchor>
  <app-input-box
    [icon]="config.icon ?? ''"
    [title]="config.title"
    [placeholder]="config.placeholder ?? ''"
    [isOpen]="isOpen"
    [(model)]="searchTerm"
    [width]="width"
    (opened)="isOpen = true"
    (closed)="isOpen = false"
    (inputChange)="onSearchChange($event)"
  ></app-input-box>

  <app-shared-dropdown
    [isOpen]="isOpen"
    (closed)="isOpen = false"
    [anchor]="anchor"
    [scrollable]="true"
     
  >
    <div class="dropdown-container">
      <h4 *ngIf="config.titleMenuOptions" class="dropdown-title">
        {{ config.titleMenuOptions }}
      </h4>

      <ul *ngIf="!noResults">
        <li *ngFor="let option of filteredOptions" 
            (click)="selectOption(option)"
            [class.selected]="value?.label === option.label">
          <i *ngIf="option.icon" [class]="option.icon"></i>
          <div class="text">
            <span class="label" [innerHTML]="highlightMatch(option.label)"></span>
            <small *ngIf="option.note">{{ option.note }}</small>
          </div>
        </li>
      </ul>

      <div class="no-results" *ngIf="noResults">לא נמצאו תוצאות</div>
    </div>
  </app-shared-dropdown>
</div>