

.shared-input {
  position: relative;
  overflow: visible;
  width: 100%;
  font-family: inherit;

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  .dropdown-container {
    width: 349px;
    padding: 12px;
  }

  .dropdown-title {
    font-family: Rubik;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    color: #7a7a7a;
    padding: 0.4rem 1rem 0.2rem;
    margin: 0;
    text-align: right;
  }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
          margin-top: 10px;

      li {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        padding: 0.5rem 1rem;
        font-size: 0.95rem;
        cursor: pointer;
        transition: background 0.15s ease;
            font-size: 18px;

        &:hover {
          background: #ECF8F0;
          
          i {
            color: #2AAE54;
          }
        }

        &.selected {
          background: #ECF8F0;
          
          .text .label {
            color: #2AAE54;
            font-weight: 500;
          }
        }

        i {
          font-size: 1rem;
          color: #6b7280;
          transition: color 0.15s ease;
        }

        i::before{
          font-size: 22px;
        }

        &.selected i {
          color: #2AAE54;
        }

        .text {
          display: flex;
          flex-direction: column;

          .label {
            line-height: 1.3;
            transition: color 0.15s ease;
          }

          small {
            color: #777;
            font-size: 0.8rem;
          }
        }
      }
    }

    .no-results {
      text-align: center;
      padding: 0.6rem;
      color: #777;
      font-size: 0.9rem;
    }
  }



/* סימון תוצאות בחיפוש */
::ng-deep .mark-autocomplete {
  background: transparent;
  color: var(--search-engine-bold-text-dropdown-color);
  font-weight: 700;
}
