.input-box {
  display: flex;
  align-items: center;
    padding: 2px 20px 0px 0px;
  height: 40px;
  gap: 6px;
  direction: rtl;
  position: relative;
  min-width: 0;
  

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    background-color: white;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    z-index: 0;
  }

  &.open::before {
    background-color: #ECF8F0;
    border-radius: 8px;
  }

  &.small {
    height: 32px;
    padding: 2px 12px 0px 0px;
    
    .input-title {
      font-size: 12px;
    }
    
    .input-field {
      font-size: 14px;
    }
    
    i::before {
      font-size: 16px;
    }
  }

  &.large {
    height: 48px;
    
    .input-title {
      font-size: 17px;
    }
    
    .input-field {
      font-size: 20px;
    }
    
    i::before {
      font-size: 26px;
    }
  }

  > * {
    position: relative;
    z-index: 1;
    margin-left: 5px;
    max-width: 82%;
  }
}

.input-meta {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

i::before {
  font-size: 22px;
}

i.bold::before {
  font-weight: 900;
  color: var(--search-engine-bold-text-dropdown-color);
}

.input-title {
  font-size: 15px;
  color: #6b7280; /* אפור בהיר */
  margin: 0;
}

.input-field {
  font-size: 18px;
      background: transparent;
  font-family: var(--main-font-family);
  font-weight: 400;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  direction: rtl;
      direction: rtl;
}

.airplane-icon {
  font-size: 18px;
  color: #6b7280;
  margin-top: 4px;
}
