<div class="input-box" [class.open]="isOpen" [style.width]="width" (click)="onBoxClick()">
  <i *ngIf="icon" [class]="icon" [class.bold]="isBoldIcon"></i>

  <div class="input-meta">
    <div class="input-title" *ngIf="title">{{ title }}</div>

  <input
  #inputRef
  class="input-field"
  type="text"
  [placeholder]="placeholder"
  [(ngModel)]="model"
  (focus)="onFocus($event)"
  (blur)="onBlur()"
  (input)="onInput($event.target.value)"
/>

  </div>

  <i class="issta-icon-chevron-down arrow" [class.open]="isOpen"></i>
</div>
