@import '../../../../../utilies/variables.scss';

.header-choices {
  display: flex;
 

  .choice-button {
    padding: 10px 20px;
    font-family: $main-font-family;
    border: 1px solid $color-gray-lighter;
    border-radius: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
        background: transparent;
    color: $color-gray;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    max-height: 28px;
    border-right: none;

    &:first-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-right: 1px solid $color-gray-lighter;
    }

    &:last-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-right: 1px solid $color-gray-lighter;
    }

    &:hover {
      border-color: $search-engine-secondary-color;
      background: $search-engine-hover-bg;
      z-index: 1;

  
    }

    &.selected {
      color: $search-engine-main-color;
      font-weight: bold;
      border-color: $search-engine-main-color;
      z-index: 2;

      .label{
        font-weight: 500;
      }

     
    }

    .label {
      font-size: 14px;
      font-weight: 400;
    }

    .promotion {
        position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    color: $color-black;
    background: $search-engine-promotion-bg;
    padding: 3px 10px;
    border-radius: 12px;
    font-weight: 400;
    white-space: nowrap;
    }
  }
}
