.inputs-row, .inputs-container{
  display: flex;
  flex-direction: row;
    
}

.inputs-row{
    border: 2px solid #2AAE54;
    border-radius: 18px;
     background-color: white;
     max-width: 1170px;
         height: 74px;
         box-shadow: 0px 5px 14px 0px #00000017;
         align-items: center;
}
.action-btn-container{
      width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

:host ::ng-deep .inputs-container > * {
  position: relative;
}

/* הקו האפור העדין באמצע */
:host ::ng-deep .inputs-container > *::after {
  content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 45px;
    background-color: #d1dbe3;
    opacity: 0.8;
}

/* גרסה ל־RTL */
[dir="rtl"] :host ::ng-deep .inputs-container > *:not(:last-child)::after {
  left: auto;
  right: 0;
}






// :host ::ng-deep .inputs-container > * {
//   flex: 1;
//   min-width: 0;
// }

.action-btn {
height: 46px;
border-radius: 16px;
padding-top: 14px;
padding-right: 20px;
padding-bottom: 14px;
font-size: 16px;
padding-left: 20px;
gap: 10px;
opacity: 1;
cursor: pointer;
background-color: #2AAE54;
  border: none;
  color: white;
  font-weight: 500;
  font-family: var(--main-font-family);

  &:hover {
    background: #009247;
  }
}