.inputs-row, .inputs-container{
  display: flex;
  flex-direction: row;
    
}

.inputs-row{
    border: 2px solid #2AAE54;
    padding: 6px 0px 5px 3px;
    border-radius: 16px;
     background-color: white;
}
.action-btn-container{
      width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

:host ::ng-deep .inputs-container > * {
  position: relative;
}

/* הקו האפור העדין באמצע */
:host ::ng-deep .inputs-container > *::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0; /* אם האתר RTL תחליף ל-right */
  width: 1px;
  height: 70%; /* שליטה על הגובה של הקו */
  background-color: #d1dbe3; /* אפור עדין */
  opacity: 0.8; /* אפשר לשחק עם השקיפות */
}

/* גרסה ל־RTL */
[dir="rtl"] :host ::ng-deep .inputs-container > *:not(:last-child)::after {
  left: auto;
  right: 0;
}





.inputs-container{
    min-width: 90%;
    justify-content: space-around;
    flex: 1;
}

.action-btn {
height: 46px;
border-radius: 16px;
padding-top: 14px;
padding-right: 20px;
padding-bottom: 14px;
font-size: 16px;
padding-left: 20px;
gap: 10px;
opacity: 1;
background-color: #2AAE54;
  border: none;
  color: white;
  font-weight: 500;
  font-family: var(--main-font-family);

  &:hover {
    background: #009247;
  }
}